<form class="form">
    <h2 class="form__title">01 Заполни форму</h2>
    <div class="form__inputs-row">
        <div class="input-field-border input-border">
            <label for="input-field" class="label">Тема урока</label>
            <div class="input-wrapper" id="input-wrapper">
                <input class="input-field input" id="input-field" type="text" placeholder="Напиши что-то конкретное">
                <img class="input-reset-button" src="src/img/reset-icon.svg" alt="">
            </div>
        </div>

        <div class="input-field-border select-border">
            <label for="select" class="label">Класс</label>
            <select class="input-field select" id="select" title="Выбрать класс">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>

    <div class="chips-container" id="chips-container"></div>
    <p class="show-more" id="show-more-switch">
        <span>+</span> Показать больше вариантов
    </p>

    <div class="textarea-wrapper">
        <div class="input-field-border" id="textarea-border">
            <label for="textarea" class="label textarea-label">Цель урока</label>
            <textarea class="input-field textarea" id="textarea" placeholder="Напиши свою учебную цель"></textarea>
        </div>
        <div class="textarea-characters">
            <span id="error-message">Превышен лимит</span>
            <span id="characters"></span>
        </div>
    </div>

    <div class="form__buttons">
        <button class="form__button form__button_back" type="button">
            Назад
        </button>
        <button class="form__button form__button_next" type="button">
            Следующий шаг
        </button>
    </div>
</form>